body#page1{ 
background-image: url('img/back3.jpg');
background-size: 145%;
}

body#page2{ 
    background-color: rgb(114, 132, 184);
    background-size: 145%;
    }

body#page3{ 
background-color: rgb(109, 153, 104);
background-size: 145%;
    }

#intro{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#add-btn{
    background-color: rgb(10, 175, 60);
    cursor: pointer;
}

li{
list-style-image: url(img/bullet2.png);
}


.list_items{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color:rgba(218, 218, 218, 0.877);
    box-shadow: 0 2px 8px black;
    width: 400px;
    height: 300px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


#to_do {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    color: black;
}


.titleToDo{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    color: rgb(0, 0, 0)
}


.no-bullets{
    list-style-type: none;
    margin:  0px 50px ;
    padding: 5px;
    text-align: left;

}

.items{
padding:8px;
}

#message{
    margin: 0px;
    font-style: italic;
}

footer{
    margin-top: 400px;
    text-align: center;
}